* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0f0a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  position: absolute;
  left: 120px; /* move left/right */
  top: 120px; /* move up/down */

  color: white;
  font-size: 4em;
  font-weight: bold;
}
.Calculator {
  margin: 75px;
  height: 650px;
  width: 500px;
  background-color: #1e1633;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
input {
  height: 65px;
  border: none;
  outline: none;
  border-radius: 18px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
  font-size: 2rem;
  background-color: #2a2045;
  color: #ffffff;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  flex: 1;
  padding: 10px;
}
button {
  height: 85px;
  width: 85px;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: #37275b;
  color: #ffffff;
}
button:hover {
  transform: translateY(-3px);
}
.operator {
  background-color: #8b5cf6;
}
.equal {
  grid-column: span 2;
  border-radius: 50px;
  width: 100%;
}
